In [1]:
# Importing Pandas to work with dataframes
import pandas as pd

In [2]:
# Reading the CSV file with the dataset into stack_exchange
stack_exchange = pd.read_csv("D:\DCU\Academics\CA675 Cloud Tech\Assignment\Final_DataSet.csv")

In [3]:
# Checking the data of first five rows of stack_exchange
stack_exchange.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,OwnerUserId,...,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate,ContentLicense
0,927358,1,927386.0,NaN,29-05-2009 18:09,NaN,23303,10030841,<p>I accidentally <strong>committed the wrong ...,89904.0,...,30-06-2021 05:07,05-10-2021 13:26,How do I undo the most recent local commits in...,<git><version-control><git-commit><undo>,98.0,9.0,7309.0,NaN,16-03-2013 10:08,CC BY-SA 4.0
1,2003505,1,2003515.0,NaN,05-01-2010 01:12,NaN,18475,9258686,<p>I want to delete a branch both locally and ...,95592.0,...,06-10-2021 22:38,06-10-2021 22:38,How do I delete a Git branch locally and remot...,<git><version-control><git-branch><git-push><g...,41.0,10.0,5718.0,NaN,NaN,CC BY-SA 4.0
2,5767325,1,5767357.0,NaN,23-04-2011 22:17,NaN,9899,8897394,<p>I have an array of numbers and I'm using th...,364969.0,...,21-05-2020 04:20,24-09-2021 08:51,How can I remove a specific item from an array?,<javascript><arrays>,112.0,4.0,1501.0,NaN,NaN,CC BY-SA 4.0
3,16956810,1,16957078.0,NaN,06-06-2013 08:06,NaN,6286,8203000,<p>I'm trying to find a way to scan my entire ...,954986.0,...,21-05-2017 11:40,30-08-2021 13:56,How do I find all files containing specific te...,<linux><text><grep><directory><find>,53.0,10.0,3029.0,NaN,NaN,CC BY-SA 3.0
4,2906582,1,2906586.0,NaN,25-05-2010 16:39,NaN,2298,7782563,<p>I would like to create an HTML button that ...,48523.0,...,21-04-2021 16:46,22-09-2021 19:42,How to create an HTML button that acts like a ...,<html><button><hyperlink><anchor>,37.0,9.0,503.0,NaN,NaN,CC BY-SA 4.0

In [4]:
# Understanding the columns of stack_exchange
stack_exchange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Id                     200000 non-null  int64
 1   PostTypeId             200000 non-null  int64
 2   AcceptedAnswerId       164180 non-null  float64
 3   ParentId               0 non-null       float64
 4   CreationDate           200000 non-null  object
 5   DeletionDate           0 non-null       float64
 6   Score                  200000 non-null  int64
 7   ViewCount              200000 non-null  int64
 8   Body                   200000 non-null  object
 9   OwnerUserId            194802 non-null  float64
 10  OwnerDisplayName       15281 non-null   object
 11  LastEditorUserId       154872 non-null  float64
 12  LastEditorDisplayName  9212 non-null    object
 13  LastEditDate           156971 non-null  object
 14  LastActivityDate       199999 non-null  object
 15  Title                  199999 non-null  object
 16  Tags                   199999 non-null  object
 17  AnswerCount            199999 non-null  float64
 18  CommentCount           199999 non-null  float64
 19  FavoriteCount          195046 non-null  float64
 20  ClosedDate             16279 non-null   object
 21  CommunityOwnedDate     1008 non-null    object
 22  ContentLicense         199999 non-null  object
dtypes: float64(8), int64(4), object(11)
memory usage: 35.1+ MB

In [5]:
# Dropping columns ParentId and DeletionDate as they only have null values
to_drop = ['ParentId', 'DeletionDate']
stack_exchange.drop(columns=to_drop,inplace=True, axis=1)

In [6]:
# Checking if the columns are deleted properly
stack_exchange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Id                     200000 non-null  int64
 1   PostTypeId             200000 non-null  int64
 2   AcceptedAnswerId       164180 non-null  float64
 3   CreationDate           200000 non-null  object
 4   Score                  200000 non-null  int64
 5   ViewCount              200000 non-null  int64
 6   Body                   200000 non-null  object
 7   OwnerUserId            194802 non-null  float64
 8   OwnerDisplayName       15281 non-null   object
 9   LastEditorUserId       154872 non-null  float64
 10  LastEditorDisplayName  9212 non-null    object
 11  LastEditDate           156971 non-null  object
 12  LastActivityDate       199999 non-null  object
 13  Title                  199999 non-null  object
 14  Tags                   199999 non-null  object
 15  AnswerCount            199999 non-null  float64
 16  CommentCount           199999 non-null  float64
 17  FavoriteCount          195046 non-null  float64
 18  ClosedDate             16279 non-null   object
 19  CommunityOwnedDate     1008 non-null    object
 20  ContentLicense         199999 non-null  object
dtypes: float64(6), int64(4), object(11)
memory usage: 32.0+ MB

In [7]:
# Importing regular experssion package
import re

# Function to remove HTML tags from the data
def remove_tag(data):
    clean_data = re.sub(pattern=re.compile('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});|\.*?'),repl='', string=str(data))
    return clean_data

In [8]:
# Creating a list by removing HTML tags from Title column
no_tag_title=[]
for i in range(len(stack_exchange.Title)):
    no_tag_title.append(remove_tag(stack_exchange.Title[i]))

In [9]:
# Creating a list by removing HTML tags from Body column
no_tag_body=[]
for i in range(len(stack_exchange.Body)):
    no_tag_body.append(remove_tag(stack_exchange.Body[i]))

In [10]:
print(no_tag_body[20])
print(stack_exchange.Body[20])

In SQL Server, it is possible to insert rows into a table with an INSERT SELECT statement:
INSERT INTO Table (col1, col2, col3)
SELECT col1, col2, col3
FROM other_table
WHERE sql = 'cool'

Is it also possible to update a table with SELECT? I have a temporary table containing the values and would like to update another table using those values Perhaps something like this:
UPDATE Table SET col1, col2
SELECT col1, col2
FROM other_table
WHERE sql = 'cool'
WHERE Tableid = other_tableid


<p>In <strong>SQL Server</strong>, it is possible to insert rows into a table with an <code>INSERT.. SELECT</code> statement:</p>
<pre><code>INSERT INTO Table (col1, col2, col3)
SELECT col1, col2, col3
FROM other_table
WHERE sql = 'cool'
</code></pre>
<p>Is it also possible to <em>update</em> a table with <code>SELECT</code>? I have a temporary table containing the values and would like to update another table using those values. Perhaps something like this:</p>
<pre><code>UPDATE Table SET col1, col2
SELECT col1, col2
FROM other_table
WHERE sql = 'cool'
WHERE Table.id = other_table.id
</code></pre>

In [11]:
# Dropping the columns Body and Title
stack_exchange.drop(['Body','Title'], axis = 1, inplace = True)

In [12]:
# Creating the columns Body and Title without the HTML tags
stack_exchange['Body'] = no_tag_body
stack_exchange['Title'] = no_tag_title

# Removing escape characters from Body and Title columns
stack_exchange['Body'] = stack_exchange['Body'].str.replace(r'\n|\t|\r','',regex=True)
stack_exchange['Title'] = stack_exchange['Title'].str.replace(r'\n|\t|\r','',regex=True)

In [13]:
stack_exchange.info()
stack_exchange.Title[6256]
stack_exchange.Body[6256]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Id                     200000 non-null  int64
 1   PostTypeId             200000 non-null  int64
 2   AcceptedAnswerId       164180 non-null  float64
 3   CreationDate           200000 non-null  object
 4   Score                  200000 non-null  int64
 5   ViewCount              200000 non-null  int64
 6   OwnerUserId            194802 non-null  float64
 7   OwnerDisplayName       15281 non-null   object
 8   LastEditorUserId       154872 non-null  float64
 9   LastEditorDisplayName  9212 non-null    object
 10  LastEditDate           156971 non-null  object
 11  LastActivityDate       199999 non-null  object
 12  Tags                   199999 non-null  object
 13  AnswerCount            199999 non-null  float64
 14  CommentCount           199999 non-null  float64
 15  FavoriteCount          195046 non-null  float64
 16  ClosedDate             16279 non-null   object
 17  CommunityOwnedDate     1008 non-null    object
 18  ContentLicense         199999 non-null  object
 19  Body                   200000 non-null  object
 20  Title                  200000 non-null  object
dtypes: float64(6), int64(4), object(11)
memory usage: 32.0+ MB

"I have a rather involved Visual Studio solution (2010, but it shouldn't matter) that I need to renameI want to rename the folders to match the new solution name, but I can't figure out a way to refactor the folder names automatically, and going through every single project file will be painfulIs there an official way to do this? Alternatively (and much less preferably), are there free tools to accomplish this?"

In [14]:
# Loading cleaned data to a CSV file
stack_exchange.to_csv(r'D:\DCU\Academics\CA675 Cloud Tech\Assignment\Cleaned_Final_DS_v2.csv',header=True,index=False)